.btn {
    background-color: #B3DDFF;
    border: #B3DDFF;
    border-radius: 25px;
    color: #000000;
    font-size: 18px;
    width: 200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #4299DF;
    }
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message {
    font-size: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .btn {
        font-size: 18px;
        width: 120px;
        padding: 6px 12px;
    }

    .message {
        font-size: 18px;
        text-align: justify;
        padding: 10px;
    }
}